@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color: #E8004A;
    --secondary-color: #F1F2F2;
    --tertiary-color: #EEF5DB;
    --primary-font: "Roboto", sans-serif;
    --secondary-font: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    padding: 1rem;
    align-items: center;
    font-family: var(--primary-font);
}

i {
    color: var(--secondary-color);
}

.navbar-title {
    color: var(--secondary-color);
    font-family: var(--secondary-font);
}
